<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ogamu</title>
</head>
<style>
    ul {
    padding: 0px;
    background-color: #eee;
    display: inline-block;
    list-style-type: none;
}
input[type="number"] {
   width:40px;
}
</style>
 <fieldset>
     <output name="output"><h3>{{output_text}}</h3></output>
 </fieldset>
<form action=toggle_bot method="post">
    {% csrf_token %}
<!--    {% if bot_checked == "on" or not usersegment %}checked="checked"{% endif %}/> -->
    <fieldset>

        <legend>Bot an- oder ausschalten</legend>
        <input id="bot_an" type="radio" name="bot_status" value="bot_an" {% if bot_on %} checked {% endif %}>
        <label>Bot an</label>
        <input id="bot_aus" type="radio" name="bot_status" value="bot_aus" {% if not bot_on %} checked {% endif %}>
        <label>Bot aus</label>
        <ul>
             <label>Reserve Slots:</label>
             <input type="number" name="reserve_slots" value={{ res_slot }}>

             <label>Expo Slots : </label>
             <input type="number" name="exp_slots" value={{ exp_slot }}>

         </ul>

    </fieldset>
    <input type="submit">
</form>
<form action=collect method="post">
    {% csrf_token %}
<!--    {% if bot_checked == "on" or not usersegment %}checked="checked"{% endif %}/> -->
    <fieldset>
        <legend>Collect Ressis</legend>
        <label>Mond?:</label>
        <input type="checkbox" name="collect4">
        <br>
        <label>Ziel Gala:</label>
        <input type="number" name="collect1" ,value="gal">
        <label>Ziel Sys:</label>
        <input type="number" name="collect2" ,value="sys">
        <label>Ziel Pos:</label>
        <input type="number" name="collect3" ,value="pos">
        <br>
         <legend>From Planets:</legend>
        {% for farm_planet in farm_planets %}
        <input type="checkbox" name="{{farm_planet.Name}}" {{farm_planet.Name}} {% if farm_planet.isFarming %} checked{% endif %}>
        <label> {{farm_planet.Name}}</label>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Sammeln">
</form>
<form action=set_expo method="post">
    {% csrf_token %}
<!--    {% if bot_checked == "on" or not usersegment %}checked="checked"{% endif %}/> -->
    <fieldset>
        <legend>Expo Settings</legend>
        <label>Expo an?:</label>
        <input type="checkbox" name="exp_an" {% if exp_an_exp %} checked{% endif %}>
        <br>
        <label>K.Transis:</label>
        <input type="number" name="exp_kt" value={{ kt_exp }}>
        <label>Gr. Transis:</label>
        <input type="number" name="exp_gt" value={{ gt_exp }}>
        <label>L. Jäger:</label>
        <input  type="number" name="exp_lj" value={{ lj_exp }}>
        <label>S. Jäger:</label>
        <input type="number" name="exp_sj" value={{ sj_exp }}>
        <label>Kreuzer:</label>
        <input type="number" name="exp_xer" value={{ xer_exp }}>
        <label>S.Schiff:</label>
        <input type="number" name="exp_ss" value={{ ss_exp }}>
        <label>S.Kreuzer:</label>
        <input type="number" name="exp_sxer" value={{ sxer_exp }}>
        <label>Reaper:</label>
        <input type="number" name="exp_reaper" value={{ reaper_exp }}>
        <label>Spio.Sonden:</label>
        <input type="number" name="exp_spy" value={{ spy_exp }}>
        <label>Pathfinder:</label>
        <input type="number" name="exp_path" value={{ path_exp }}>
    </fieldset>
    <input type="submit" name="speichern" value ="Speichern">
    <input type="submit" name="manuel_senden" value ="Manuell Senden">
</form>
<form action=farming method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Farm Planis</legend>
         <label>Farm on?:</label>
        <input type="checkbox" name="farm_on" {% if farm_on %} checked{% endif %}>
        <br>
        <ul>
        {% for farm_planet in farm_planets %}
            <input type="checkbox" name="{{farm_planet.Name}}" {{farm_planet.Name}} {% if farm_planet.isFarming %} checked{% endif %}>
            <label> {{farm_planet.Name}}</label>
        {% endfor %}
        </ul>
    </fieldset>
    <input type="submit" value="Sammeln" >
</form>

</body>
</html>